/** Tipo Shadows Into Light **/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/** Tipo Monserrat **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/** Grilla **/
* {box-sizing: border-box;}
.row::after {content: ""; clear: both; display: table;}
[class*="col-"] {float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/** Media queries para celular**/
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .ocultoencelular {
    display: none;
  }
  body {
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  #farol3 {
    width: 20%;
    left: 66%;
  }
  #farol2 {
    width: 25%;
    left: 46%;
  }
  #farol1 {
    width: 30%;
    left: 20%;
  }
}

/** Media queries para pantallas medianas y grandes **/
@media only screen and (min-width: 769px) {
  .ocultoenpc {
    display: none;
  }
  h1 {
    font-size: 100px;
    }
  /** alineacion **/
  .medio {
    text-align: center;
  }
  .derecha {
    text-align: right;
    padding-right: 150px;
  }
  #farol1 {
    left: 30%;
    width: 20%;
  }
  #farol2 {
    left: 46%;
    width: 20%;
  }
  #farol3 {
    left: 60%;
    width: 20%;
  }
}

/** Cuerpo **/
html, body {
 	height: 100%;
 	margin: 0;
  background: rgb(248,250,151);
  background: radial-gradient(circle, rgba(248,250,151,1) 0%, rgba(4,6,61,0.9923319669664741) 100%);
  /** Para ultima animacion **/
  overflow: hidden;
}

.full-height {
 	height: 100%;
}

/** Padding **/
.relleno {
  padding: 15%;
}

/** Texto **/
h1 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  color: #162E3B;
}

h2, p {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

 .primercolor {
  color: #162E3B;
}

/** Imagen **/
img {
	width: 50%;
	height: auto;
}

.cursor:hover {
  cursor: pointer;
}

/** Ocultar **/
.oculto {
  visibility: hidden;
}

/** Boton "siguiente" **/
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #FEF584;
  color: #010E1B;
  font-weight: bold;
  border-radius: 25px;
}

.links {
  font-family: 'Montserrat', sans-serif;
  color: #FEF584;
}

.next {
  background-color: #162E3B;
  color: white;
  opacity: 0.8;
}

.round {
  border-radius: 50%;
}

/** Fondo **/
.fondo {
  background: none;
  background-color: #010E1B;
  color: #FEF584;
}

/** Piso **/
#piso {
  background: rgb(166,171,169);
  background: rgb(196,196,196);
  background: radial-gradient(circle, rgba(196,196,196,1) 0%, rgba(10,10,10,0.9923319669664741) 100%);
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
}

#farol1 {
  position: absolute;
  bottom: 30%;
  z-index: 3;
}
#farol2 {
  position: absolute;
  bottom: 30%;
  z-index: 2;
}
#farol3 {
  position: absolute;
  bottom: 30%;
  z-index: 1;
}

#ultimotexto {
  color: #FEF584;
  text-align: center;
  padding: 20%;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-29 23:33:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */

 .focus-in-contract-bck {
 	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

 /*Animaciones*/
/* ----------------------------------------------
 * Generated by Animista on 2020-11-27 11:51:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-bottom
 * ----------------------------------------
 */

 /*Desaparece al final*/
 .slide-out-blurred-bottom {
 	-webkit-animation: slide-out-blurred-bottom 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
 	animation: slide-out-blurred-bottom 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
 }

@-webkit-keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
            transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
            transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-11-20 11:3:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 /*Mover horizontal*/
 .shake-horizontal:hover {
 	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
 	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
 }

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-11-19 20:54:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
/*Animaciones para entrada en index*/
#titulongo {
  -webkit-animation: flicker-in-1 2.5s 2s linear 2 alternate;
          animation: flicker-in-1 2.5s 2s linear 2 alternate;
}

#titulongo:hover {
  cursor: default;
}

/*Tintineo -apagar y prender en la entrada pag 2*/
 .flicker-in-1 {
 	-webkit-animation: flicker-in-1 2s linear both;
 	        animation: flicker-in-1 2s linear both;
 }

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


/*Fondo estrellas*/
/*Recurso de: https://codepen.io/sebu10n/pen/PozyBZq*/

div.starfield {
  background-color: #010E1B;
  position: fixed;
  width: 100%;
  height: 100%;
}
div.starfield .static {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  transform-origin: 29vw -39vh;
  box-shadow: 74vw 0vh 1px 0.75px rgba(243, 246, 248, 0.8217907531), 92vw -21vh 1px 0.75px #fff8fc, 85vw -67vh 1px 0.75px #fcf9f8, 10vw 13vh 1px 0.75px rgba(241, 254, 251, 0.762567507), 26vw 61vh 1px 0.75px rgba(248, 250, 244, 0.9821883077), -8vw -50vh 1px 0.75px rgba(243, 249, 254, 0.8677487148), 26vw -39vh 1px 0.75px rgba(249, 245, 252, 0.6743954972), -71vw 43vh 1px 0.75px rgba(250, 253, 250, 0.8815788757), 88vw 41vh 1px 0.75px rgba(251, 253, 244, 0.7210581791), -31vw 49vh 1px 0.75px rgba(253, 242, 243, 0.5539470583), 19vw 83vh 1px 0.75px #fdf5f1, -23vw -29vh 1px 0.75px #fcf8fc, 94vw -31vh 1px 0.75px rgba(251, 249, 254, 0.5089705182), 63vw 32vh 1px 0.75px rgba(251, 249, 252, 0.5929778944), 41vw -27vh 1px 0.75px rgba(242, 249, 247, 0.8999834178), -46vw 9vh 1px 0.75px rgba(255, 243, 246, 0.7435589153), -75vw 75vh 1px 0.75px #f9f3fc, -44vw -68vh 1px 0.75px rgba(245, 252, 248, 0.9430026383), 72vw -57vh 1px 0.75px #f2f4f3, -40vw -87vh 1px 0.75px rgba(246, 247, 255, 0.8634011215), 84vw 100vh 1px 0.75px rgba(243, 255, 243, 0.8373385927), -26vw -53vh 1px 0.75px #f1f1fb, 98vw -80vh 1px 0.75px #f7fcf1, 9vw -7vh 1px 0.75px #f5f7fd, 94vw -49vh 1px 0.75px rgba(252, 241, 248, 0.6073308133), 81vw 74vh 1px 0.75px #f4fcf9, -91vw 29vh 1px 0.75px #f3f4f7, -47vw -1vh 1px 0.75px rgba(241, 243, 248, 0.6562696139), -40vw -78vh 1px 0.75px rgba(255, 253, 248, 0.806619768), -57vw 5vh 1px 0.75px rgba(242, 244, 253, 0.9538537371), 29vw 82vh 1px 0.75px #f7f4fa, -32vw 84vh 1px 0.75px rgba(245, 250, 248, 0.9652367884), -63vw 26vh 1px 0.75px rgba(253, 249, 241, 0.791436128), 68vw 31vh 1px 0.75px rgba(250, 244, 246, 0.5529482817), -59vw -41vh 1px 0.75px rgba(250, 253, 244, 0.6175349367), -95vw 90vh 1px 0.75px rgba(249, 245, 247, 0.798371829), 96vw -21vh 1px 0.75px #faf6f7, 95vw -56vh 1px 0.75px rgba(249, 246, 250, 0.76727383), -11vw 28vh 1px 0.75px rgba(247, 242, 253, 0.813677747), -27vw 100vh 1px 0.75px #f4f5f7, -29vw -84vh 1px 0.75px rgba(243, 252, 247, 0.7329266461), -27vw -48vh 1px 0.75px rgba(246, 244, 252, 0.9918177733), -14vw 87vh 1px 0.75px rgba(246, 255, 243, 0.8052261891), 9vw 49vh 1px 0.75px rgba(255, 244, 248, 0.7049993293), 30vw -45vh 1px 0.75px #f2fff2, -5vw 41vh 1px 0.75px rgba(252, 250, 250, 0.6563041552), -23vw -22vh 1px 0.75px rgba(250, 255, 250, 0.9409060955), 79vw -82vh 1px 0.75px rgba(250, 253, 251, 0.7017814305), -46vw -78vh 1px 0.75px rgba(248, 242, 241, 0.6949110266), -85vw 95vh 1px 0.75px #f6f3f6, -62vw -14vh 1px 0.75px #f6f3f1, -67vw 81vh 1px 0.75px rgba(248, 252, 248, 0.706131156), 71vw 28vh 1px 0.75px rgba(253, 244, 243, 0.6436963753), 77vw -24vh 1px 0.75px rgba(253, 245, 248, 0.6041256853), -38vw -12vh 1px 0.75px #f4fffa, -39vw 32vh 1px 0.75px rgba(255, 249, 244, 0.8972415741), 75vw -78vh 1px 0.75px #f3f6f6, 10vw -19vh 1px 0.75px rgba(254, 252, 247, 0.5117098791), 93vw 69vh 1px 0.75px #fdf7f7, 13vw 89vh 1px 0.75px #f6f3f7, 38vw -90vh 1px 0.75px #f4f2fd, -13vw -54vh 1px 0.75px rgba(246, 255, 246, 0.5089045118), 27vw 90vh 1px 0.75px #f3f9fc, 0vw -22vh 1px 0.75px #fbfff7, -69vw -36vh 1px 0.75px #fefbf6, 50vw 87vh 1px 0.75px #fbf4fd, 75vw 11vh 1px 0.75px #fffcf5, -77vw -32vh 1px 0.75px #fff6f8, -41vw 85vh 1px 0.75px #f2fcf8, -35vw 46vh 1px 0.75px #fff1fa, -63vw -5vh 1px 0.75px #f6f9fe, -8vw 74vh 1px 0.75px rgba(255, 254, 254, 0.504516598), 53vw -23vh 1px 0.75px #f4f9f6, 36vw 88vh 1px 0.75px #fafdf8, 11vw -81vh 1px 0.75px rgba(244, 251, 242, 0.9640014297), -2vw 54vh 1px 0.75px #f4f4f6, -45vw 20vh 1px 0.75px #fdffff, -47vw -21vh 1px 0.75px #f1fdf5, -75vw -8vh 1px 0.75px rgba(243, 243, 246, 0.7629913033), 57vw -46vh 1px 0.75px rgba(254, 248, 252, 0.6858142305), 7vw 18vh 1px 0.75px #f2f6fc, 63vw -22vh 1px 0.75px rgba(241, 255, 250, 0.7305920347), -82vw 47vh 1px 0.75px rgba(251, 255, 250, 0.8529562562), 35vw -82vh 1px 0.75px rgba(242, 245, 246, 0.5433598404), -83vw 52vh 1px 0.75px #f8f4fa, 28vw 57vh 1px 0.75px rgba(250, 242, 245, 0.758024512), -95vw -49vh 1px 0.75px rgba(249, 249, 254, 0.6998784326), 68vw -83vh 1px 0.75px rgba(251, 245, 249, 0.7012840299), 10vw 60vh 1px 0.75px #fdfaf1, -85vw -57vh 1px 0.75px rgba(251, 252, 247, 0.5586637263), -94vw -65vh 1px 0.75px rgba(243, 250, 249, 0.7406066862), -43vw 51vh 1px 0.75px #fdf2f4, 41vw -74vh 1px 0.75px #f6fdfd, 54vw -22vh 1px 0.75px rgba(243, 241, 246, 0.8891238556), 20vw -5vh 1px 0.75px #f7f1fe, -85vw 25vh 1px 0.75px #fbf9f7, -62vw -9vh 1px 0.75px #fffbf5, 41vw 31vh 1px 0.75px rgba(245, 247, 255, 0.7000025739), -64vw 16vh 1px 0.75px rgba(248, 245, 252, 0.5555010456), -46vw -14vh 1px 0.75px rgba(242, 252, 254, 0.9013468114);
  width: 1px;
  height: 1px;
}
div.starfield .moving-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  transform-origin: 29vw -39vh;
  box-shadow: -5vw 77vh 1px 0.75px rgba(248, 247, 247, 0.8155467274), 98vw -76vh 1px 0.75px #fdf2f1, -97vw -59vh 1px 0.75px #fafef3, -82vw 73vh 1px 0.75px #fff7f8, 7vw -17vh 1px 0.75px rgba(253, 241, 255, 0.9812424575), -99vw 6vh 1px 0.75px rgba(248, 245, 243, 0.9825891464), -95vw -2vh 1px 0.75px rgba(251, 251, 243, 0.5424867118), 88vw -98vh 1px 0.75px #f4f4f4, 17vw -4vh 1px 0.75px rgba(253, 251, 253, 0.7561216972), 18vw -58vh 1px 0.75px #fffff9, 68vw 5vh 1px 0.75px rgba(241, 254, 248, 0.9498224971), 21vw 68vh 1px 0.75px #f5f1f9, 39vw 3vh 1px 0.75px #fdf8f1, 34vw 48vh 1px 0.75px #faf8f7, 28vw -88vh 1px 0.75px #f3fcf5, -97vw -48vh 1px 0.75px #fbfcfa, -93vw -96vh 1px 0.75px #f8fafd, 53vw 35vh 1px 0.75px #fef3fe, -75vw -8vh 1px 0.75px #f8f1f3, -96vw -27vh 1px 0.75px rgba(242, 248, 243, 0.5368075318), 81vw -99vh 1px 0.75px #fafbf2, 75vw 51vh 1px 0.75px #f1f5fb, 74vw -20vh 1px 0.75px rgba(252, 249, 248, 0.8375639551), -70vw -40vh 1px 0.75px rgba(246, 243, 255, 0.9542411997), 44vw -3vh 1px 0.75px rgba(252, 248, 247, 0.890762712), -67vw 67vh 1px 0.75px #fefffc, 42vw -74vh 1px 0.75px rgba(250, 253, 250, 0.8420307833), 22vw -16vh 1px 0.75px rgba(249, 248, 242, 0.5939963711), 58vw 99vh 1px 0.75px rgba(254, 252, 253, 0.7336321016), -8vw -54vh 1px 0.75px #fbf6ff, 65vw 15vh 1px 0.75px rgba(245, 255, 243, 0.6246096053), -25vw -70vh 1px 0.75px rgba(252, 251, 245, 0.6923574184), 84vw 4vh 1px 0.75px rgba(246, 251, 250, 0.826294567), -4vw -87vh 1px 0.75px rgba(244, 247, 246, 0.5907278799), 90vw 39vh 1px 0.75px #f5f3f4, 97vw -50vh 1px 0.75px #fdfdfe, -27vw -58vh 1px 0.75px #f2f9fe, 27vw 53vh 1px 0.75px rgba(249, 252, 252, 0.9972687704), -79vw -60vh 1px 0.75px #f3f1f1, 45vw -41vh 1px 0.75px rgba(242, 242, 242, 0.5789836051), 12vw 36vh 1px 0.75px rgba(243, 251, 244, 0.878897535), 18vw 59vh 1px 0.75px #fefefa, 13vw -16vh 1px 0.75px rgba(253, 254, 253, 0.7148619863), 85vw -86vh 1px 0.75px rgba(247, 254, 245, 0.8432128179), 98vw 8vh 1px 0.75px #f4f7f8, 30vw 87vh 1px 0.75px #f8fbff, 31vw -16vh 1px 0.75px rgba(250, 248, 244, 0.5045134585), -2vw 77vh 1px 0.75px rgba(251, 245, 253, 0.509501863), -28vw 52vh 1px 0.75px #faf4fb, -29vw -61vh 1px 0.75px rgba(242, 245, 248, 0.9812883198), -31vw -74vh 1px 0.75px #f8fbff, -30vw 27vh 1px 0.75px rgba(243, 255, 241, 0.5019775558), -84vw -84vh 1px 0.75px #f7f5fd, 31vw 28vh 1px 0.75px rgba(253, 250, 243, 0.5680128725), 62vw 37vh 1px 0.75px #fbfcf8, -66vw 75vh 1px 0.75px rgba(247, 254, 246, 0.9689529583), 90vw 32vh 1px 0.75px rgba(246, 250, 242, 0.9985673985), 64vw 100vh 1px 0.75px #f5f9f4, -23vw 62vh 1px 0.75px #f3f4f3, 69vw -7vh 1px 0.75px #f5f8f6, 24vw -1vh 1px 0.75px rgba(249, 242, 254, 0.8541842494), -18vw -17vh 1px 0.75px rgba(252, 250, 249, 0.5392854468), 45vw 68vh 1px 0.75px #f2f9fb, 87vw 58vh 1px 0.75px rgba(245, 246, 250, 0.5368796797), -90vw 17vh 1px 0.75px rgba(251, 243, 253, 0.7705498228), -16vw -76vh 1px 0.75px rgba(246, 241, 255, 0.5085584704), 98vw 56vh 1px 0.75px #f2f8f7, -74vw 91vh 1px 0.75px #f3f4f1, -60vw -54vh 1px 0.75px rgba(248, 246, 242, 0.5753003271), -40vw 87vh 1px 0.75px rgba(242, 241, 249, 0.5387000877), 86vw -35vh 1px 0.75px #fff3f2, 51vw 1vh 1px 0.75px #f8f4f4, 88vw 44vh 1px 0.75px #f3f9f5, 83vw -14vh 1px 0.75px #f4fffc, 93vw 32vh 1px 0.75px #f9fcf8, -56vw 11vh 1px 0.75px #f1f2fe, 40vw 45vh 1px 0.75px #fcf6fc, -64vw -39vh 1px 0.75px rgba(254, 243, 255, 0.5077200091), 12vw 80vh 1px 0.75px #f9f3fc, 9vw -79vh 1px 0.75px rgba(253, 255, 243, 0.8709007959), 88vw 28vh 1px 0.75px #f3fef5, -59vw -75vh 1px 0.75px #f4fcfd, 35vw 88vh 1px 0.75px rgba(241, 241, 246, 0.9266364137), 21vw -19vh 1px 0.75px #fafbf4, 99vw 22vh 1px 0.75px #f3fafe, 52vw 87vh 1px 0.75px #f2f3f6, -29vw 72vh 1px 0.75px #f3f9fc, 25vw 67vh 1px 0.75px #fff2ff, -5vw 23vh 1px 0.75px #fffdfd, 34vw 34vh 1px 0.75px #fdf7f4, -16vw 15vh 1px 0.75px rgba(254, 253, 245, 0.6352409034), -2vw 6vh 1px 0.75px rgba(251, 252, 241, 0.8712946684), 59vw -33vh 1px 0.75px #fdf9f1, 33vw -21vh 1px 0.75px #fef7f2, -51vw -35vh 1px 0.75px #f2f4f6, 66vw -53vh 1px 0.75px rgba(247, 251, 250, 0.6437143603), 23vw 45vh 1px 0.75px #f7fbff, -31vw -18vh 1px 0.75px rgba(244, 241, 253, 0.830291155), -93vw 99vh 1px 0.75px rgba(247, 254, 245, 0.5353002663), -6vw -66vh 1px 0.75px #f9f6f8;
  animation: star-movement 9s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
}
div.starfield .moving-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  transform-origin: 29vw -39vh;
  box-shadow: 50vw -26vh 1px 0.75px rgba(252, 243, 249, 0.576155127), -45vw 45vh 1px 0.75px #fffefc, -81vw -67vh 1px 0.75px rgba(249, 253, 250, 0.6634228029), -50vw -12vh 1px 0.75px #f6fafa, -43vw 11vh 1px 0.75px rgba(241, 249, 252, 0.8447700176), 89vw 63vh 1px 0.75px rgba(255, 243, 251, 0.5138428244), 78vw -76vh 1px 0.75px rgba(247, 248, 250, 0.8243016361), -2vw 88vh 1px 0.75px rgba(255, 246, 249, 0.5748518114), 93vw 50vh 1px 0.75px #f1fdf2, -96vw 31vh 1px 0.75px rgba(255, 249, 241, 0.7591317712), 97vw -58vh 1px 0.75px #f7fcf9, -5vw 5vh 1px 0.75px rgba(248, 253, 248, 0.8136391607), -59vw 10vh 1px 0.75px #f7fbfc, -74vw 54vh 1px 0.75px rgba(250, 247, 249, 0.7440882591), -84vw 27vh 1px 0.75px rgba(251, 244, 250, 0.8248772477), 44vw -98vh 1px 0.75px rgba(245, 251, 249, 0.9310473326), 41vw 49vh 1px 0.75px rgba(255, 247, 246, 0.5293068357), -57vw -55vh 1px 0.75px rgba(245, 248, 243, 0.6893292677), 69vw 2vh 1px 0.75px rgba(252, 249, 246, 0.6893810597), 77vw -70vh 1px 0.75px rgba(254, 245, 248, 0.877216854), -95vw -76vh 1px 0.75px #faf4f8, 23vw -51vh 1px 0.75px #f6fcfb, -86vw -28vh 1px 0.75px #f6fbf7, 22vw -69vh 1px 0.75px rgba(252, 252, 253, 0.9792599517), 78vw -24vh 1px 0.75px #f3f9f5, 61vw 40vh 1px 0.75px rgba(249, 244, 248, 0.7105248053), 9vw -94vh 1px 0.75px rgba(245, 249, 250, 0.828479078), 50vw -23vh 1px 0.75px rgba(242, 246, 249, 0.7741894896), 66vw -29vh 1px 0.75px #f6f7f5, 51vw 43vh 1px 0.75px rgba(242, 255, 248, 0.6765242656), -30vw 34vh 1px 0.75px #f1f8fa, 30vw 40vh 1px 0.75px rgba(245, 254, 242, 0.834697366), 16vw -87vh 1px 0.75px #f6fafa, -1vw 44vh 1px 0.75px #f2f3fa, -94vw 55vh 1px 0.75px rgba(242, 252, 250, 0.7246024686), -18vw 44vh 1px 0.75px #f5f1f3, 52vw 78vh 1px 0.75px #f3f7fd, 41vw -89vh 1px 0.75px rgba(252, 252, 244, 0.7708955769), -78vw -16vh 1px 0.75px #f4fcf5, -85vw 34vh 1px 0.75px #f6f3fc, -79vw 49vh 1px 0.75px #fafdf5, 59vw -8vh 1px 0.75px #f3fbfe, -66vw 22vh 1px 0.75px rgba(251, 249, 248, 0.896670359), 61vw 21vh 1px 0.75px #fefffe, -20vw 11vh 1px 0.75px rgba(254, 254, 249, 0.52181805), 69vw -76vh 1px 0.75px #f9f7fa, 99vw -46vh 1px 0.75px rgba(247, 254, 251, 0.8585572149), 74vw -35vh 1px 0.75px #fcf6f5, 40vw 47vh 1px 0.75px rgba(253, 253, 242, 0.9305906671), -68vw -14vh 1px 0.75px rgba(243, 243, 252, 0.5011131454), -61vw 84vh 1px 0.75px #f8f5fd, 13vw -26vh 1px 0.75px #faf9fa, 4vw 67vh 1px 0.75px rgba(247, 254, 254, 0.9839351689), 98vw -23vh 1px 0.75px rgba(241, 255, 255, 0.7811552491), -62vw -61vh 1px 0.75px #fffafd, -65vw -56vh 1px 0.75px #f7f1f9, -82vw -72vh 1px 0.75px rgba(255, 250, 255, 0.583835505), 85vw -42vh 1px 0.75px #f4fff7, -57vw 10vh 1px 0.75px #f1f4fe, -14vw -51vh 1px 0.75px rgba(248, 249, 244, 0.5740523073), -37vw 11vh 1px 0.75px #faf2fc, -89vw 27vh 1px 0.75px rgba(242, 244, 248, 0.9209307967), -46vw -41vh 1px 0.75px rgba(241, 250, 242, 0.7469487258), -24vw 19vh 1px 0.75px #f2f8f4, 27vw 13vh 1px 0.75px #fdf6f7, 87vw 93vh 1px 0.75px #f9fcf9, -78vw 73vh 1px 0.75px #fef6f2, 22vw 40vh 1px 0.75px rgba(254, 242, 255, 0.7982661191), -80vw 85vh 1px 0.75px #f1f9f5, 3vw -77vh 1px 0.75px #fbf5fa, -9vw 55vh 1px 0.75px rgba(255, 243, 248, 0.8587981179), 64vw 100vh 1px 0.75px rgba(242, 245, 246, 0.9705303756), -45vw -78vh 1px 0.75px #f2fefe, 37vw -78vh 1px 0.75px #f7fcfc, -32vw 90vh 1px 0.75px rgba(252, 254, 251, 0.5782663173), 64vw 26vh 1px 0.75px rgba(253, 251, 243, 0.8376755362), -32vw 94vh 1px 0.75px #f7fef9, 22vw 11vh 1px 0.75px #fdfbf6, 77vw 9vh 1px 0.75px rgba(241, 247, 251, 0.5532716221), -81vw 23vh 1px 0.75px rgba(254, 247, 254, 0.9604710935), -26vw -91vh 1px 0.75px rgba(247, 241, 246, 0.5271927804), 73vw -57vh 1px 0.75px rgba(241, 241, 252, 0.7817414218), -84vw -75vh 1px 0.75px #f5fcf2, -49vw 17vh 1px 0.75px rgba(249, 255, 244, 0.5931352183), -12vw -7vh 1px 0.75px #f5f9fc, -64vw -96vh 1px 0.75px #f5fdfe, -68vw -47vh 1px 0.75px #fff6f1, 49vw 64vh 1px 0.75px #f6f4ff, -30vw 61vh 1px 0.75px rgba(243, 254, 253, 0.8678250497), 33vw 72vh 1px 0.75px rgba(246, 255, 243, 0.6868154098), -71vw -89vh 1px 0.75px rgba(241, 245, 242, 0.9605222694), -91vw 94vh 1px 0.75px #fef2f5, -14vw -75vh 1px 0.75px #f9fffe, 56vw -2vh 1px 0.75px #fafefe, 8vw 18vh 1px 0.75px #f3fbf9, 83vw 17vh 1px 0.75px #f2faf5, 83vw -30vh 1px 0.75px rgba(248, 242, 242, 0.9338566658), -95vw 81vh 1px 0.75px rgba(253, 243, 243, 0.7339651546), 76vw 32vh 1px 0.75px #f2f7f6, 72vw -2vh 1px 0.75px #f7f3fb;
  animation: star-movement 9s -3s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
}
div.starfield .moving-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  transform-origin: 29vw -39vh;
  box-shadow: -45vw -76vh 1px 0.75px rgba(245, 250, 245, 0.9342114137), -66vw 49vh 1px 0.75px rgba(249, 242, 242, 0.7399360795), 5vw 17vh 1px 0.75px #fdfcf4, 65vw 54vh 1px 0.75px #fcf6f4, -52vw 58vh 1px 0.75px rgba(249, 246, 247, 0.6386367652), 57vw 9vh 1px 0.75px #f8faf2, 99vw 52vh 1px 0.75px rgba(252, 245, 251, 0.888113247), -8vw 28vh 1px 0.75px #f6f4f8, 4vw 14vh 1px 0.75px #f1f9f2, -1vw -92vh 1px 0.75px rgba(245, 255, 255, 0.7408018398), -69vw 63vh 1px 0.75px rgba(247, 246, 255, 0.9533809667), -42vw 82vh 1px 0.75px #fdf9f4, 77vw 34vh 1px 0.75px #f7f5f7, -17vw -36vh 1px 0.75px rgba(242, 249, 252, 0.6693735822), 91vw -57vh 1px 0.75px #fcfdf4, -22vw -52vh 1px 0.75px #f2fbfa, -77vw 18vh 1px 0.75px rgba(245, 247, 247, 0.622595463), 34vw 29vh 1px 0.75px #fffcfe, -89vw -70vh 1px 0.75px rgba(247, 244, 253, 0.8285479005), -83vw 25vh 1px 0.75px rgba(247, 250, 254, 0.8904528759), -90vw -83vh 1px 0.75px #f4fdf9, -25vw -29vh 1px 0.75px #f5f8f4, -10vw -10vh 1px 0.75px rgba(244, 247, 244, 0.6206579419), 7vw -61vh 1px 0.75px #f9f4f9, 94vw -66vh 1px 0.75px rgba(243, 242, 245, 0.8156274469), 1vw 72vh 1px 0.75px #fafff9, -50vw 88vh 1px 0.75px rgba(251, 243, 255, 0.6861642282), 56vw 48vh 1px 0.75px rgba(243, 251, 243, 0.8050209384), 69vw 99vh 1px 0.75px rgba(242, 246, 253, 0.6344375192), 5vw 100vh 1px 0.75px rgba(244, 254, 241, 0.6676314327), -66vw 77vh 1px 0.75px #faf9fc, 96vw -84vh 1px 0.75px #f4f8f7, 80vw -64vh 1px 0.75px rgba(248, 242, 243, 0.8455704599), 36vw -12vh 1px 0.75px #f1f6fb, -32vw -33vh 1px 0.75px #f8fcf8, -7vw -70vh 1px 0.75px rgba(254, 241, 250, 0.6488746535), -34vw -49vh 1px 0.75px #f7f4fa, -90vw 74vh 1px 0.75px rgba(243, 252, 243, 0.870633655), 1vw 17vh 1px 0.75px #fcf8f9, -66vw 35vh 1px 0.75px rgba(248, 246, 250, 0.9789180064), 16vw 22vh 1px 0.75px #faf7fa, -49vw -60vh 1px 0.75px rgba(243, 253, 249, 0.9366411555), 57vw -34vh 1px 0.75px rgba(255, 255, 250, 0.8514859053), 99vw 90vh 1px 0.75px rgba(242, 242, 252, 0.600175833), 73vw 80vh 1px 0.75px #fcf7f6, -84vw 68vh 1px 0.75px rgba(253, 250, 247, 0.5669214781), -19vw -63vh 1px 0.75px #f6f7fb, -49vw -68vh 1px 0.75px rgba(246, 246, 242, 0.5748280227), 49vw 51vh 1px 0.75px rgba(243, 246, 242, 0.9352945967), 81vw 86vh 1px 0.75px #fdfdf4, 89vw 81vh 1px 0.75px #fbf8fd, 41vw 2vh 1px 0.75px rgba(252, 243, 244, 0.5363906245), 56vw -81vh 1px 0.75px #f8f8f6, -65vw -5vh 1px 0.75px #fdfbff, -97vw -6vh 1px 0.75px rgba(253, 244, 246, 0.6558225809), 73vw 22vh 1px 0.75px rgba(246, 247, 254, 0.8668122081), -49vw 93vh 1px 0.75px #f8fcfc, -35vw -90vh 1px 0.75px #f5f4f3, 51vw 72vh 1px 0.75px rgba(245, 254, 248, 0.9598139401), 45vw 91vh 1px 0.75px rgba(250, 244, 254, 0.6436856386), 53vw 60vh 1px 0.75px rgba(255, 246, 253, 0.6180278396), 74vw 42vh 1px 0.75px rgba(250, 251, 251, 0.8240985822), -29vw -88vh 1px 0.75px rgba(241, 242, 255, 0.5581386809), 5vw -62vh 1px 0.75px rgba(247, 247, 250, 0.8730038434), 0vw -81vh 1px 0.75px #fbf6fd, 9vw 65vh 1px 0.75px #fbfaf4, -25vw -43vh 1px 0.75px rgba(244, 242, 246, 0.6284994001), -45vw -30vh 1px 0.75px rgba(243, 247, 246, 0.5274966414), -99vw -4vh 1px 0.75px #fdf7fc, -72vw 40vh 1px 0.75px rgba(244, 250, 255, 0.8883170419), -67vw 41vh 1px 0.75px #fef5fb, 68vw 76vh 1px 0.75px #fefaff, -21vw 80vh 1px 0.75px #fcf3fd, -64vw -67vh 1px 0.75px #f6f4f6, 97vw 39vh 1px 0.75px rgba(248, 246, 246, 0.6280674259), -17vw 59vh 1px 0.75px #fdf7fc, 100vw 12vh 1px 0.75px #f4fbfe, 12vw 90vh 1px 0.75px rgba(253, 251, 249, 0.7636627883), -78vw -75vh 1px 0.75px #f7fbf5, -23vw 61vh 1px 0.75px #f4f1f6, -93vw -77vh 1px 0.75px #fbf5f9, 61vw 49vh 1px 0.75px rgba(248, 252, 250, 0.9550053277), -36vw 48vh 1px 0.75px #f8fefa, -79vw 72vh 1px 0.75px rgba(247, 241, 249, 0.7828309857), -64vw 31vh 1px 0.75px rgba(243, 250, 249, 0.7398084753), 72vw 97vh 1px 0.75px #fff9f4, -62vw -2vh 1px 0.75px #fef2f1, -63vw 79vh 1px 0.75px #f3f8f7, 41vw 88vh 1px 0.75px #f7fef7, 13vw 30vh 1px 0.75px #f3fff7, -67vw 46vh 1px 0.75px rgba(255, 252, 251, 0.7362751887), 86vw -9vh 1px 0.75px rgba(242, 245, 250, 0.7951076643), -5vw 58vh 1px 0.75px #f6f1f3, 34vw -53vh 1px 0.75px rgba(241, 249, 242, 0.5586157291), -55vw 69vh 1px 0.75px rgba(242, 245, 242, 0.9434021914), 23vw 40vh 1px 0.75px #f1f9ff, 37vw 77vh 1px 0.75px #f9f1f6, 99vw 96vh 1px 0.75px rgba(241, 254, 254, 0.9022708138), -71vw 96vh 1px 0.75px #f5fbf9, 99vw -84vh 1px 0.75px #fef8fc;
  animation: star-movement 9s -6s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
}

@keyframes star-movement {
  0% {
    -webkit-transform: scale(0.5) translateZ(0);
    transform: scale(0.5) translateZ(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2) translateZ(0);
    transform: scale(2) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes star-movement {
  0% {
    -webkit-transform: scale(0.5) translateZ(0);
    transform: scale(0.5) translateZ(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2) translateZ(0);
    transform: scale(2) translateZ(0);
    opacity: 0;
  }
}
@keyframes direction-movement {
  from {
    -webkit-transform: 6vw 26vh;
    transform-origin: -2vw -38vh;
  }
  to {
    -webkit-transform: 6vw 26vh;
    transform-origin: 6vw 26vh;
  }
}
@-webkit-keyframes direction-movement {
  from {
    -webkit-transform: 6vw 26vh;
    transform-origin: -2vw -38vh;
  }
  to {
    -webkit-transform: 6vw 26vh;
    transform-origin: 6vw 26vh;
  }
}
div.word {
  position: absolute;
  right: 1vw;
  text-align: right;
  font-size: 2vh;
  animation: word-appear 60s infinite;
  opacity: 0;
  transform: translate3d(calc(1vw + 100%), 0, 0);
}

@keyframes word-appear {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(calc(1vw + 100%), 0, 0);
    transform: translate3d(calc(1vw + 100%), 0, 0);
  }
  2% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes word-appear {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(calc(1vw + 100%), 0, 0);
    transform: translate3d(calc(1vw + 100%), 0, 0);
  }
  2% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
